.sidebar {
  display: flex;
  flex-direction: column;
  /* background-color: #daddf7; */
  color: #afb2cc;
  padding: 10px 15px;
}
.sidebar__my_info {
  margin-bottom: 20px;
}
.sidebar__avatar {
  width: 110px;
  height: 110px;
  margin: 0 auto;
}
.sidebar__avatar img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 100px;
}

@media (max-width: 767px) {
  .sidebar {
    display: flex;
    align-items: center;
  }
  .sidebar__my_info {
    display: none;
  }
}
